package components

templ TableResponseShow(addr string) {
    <table id="sse-listener" hx-get={ "/get-routes?addr=" + addr } hx-trigger="load" hx-swap="innnerHTML" hx-target="#row-container">
        <thead>
            <tr>
                <th>Root Path</th>
                <th>Processed Path</th>
                <th>Response</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody id="row-container"></tbody>
    </table>
}